.size {
  &--sm {
    & > svg {
      height: 15px;
      width: 15px;
    }
  }

  &--md {
    & > svg {
      height: 25px;
      width: 25px;
    }
  }

  &--lg {
    & > svg {
      height: 35px;
      width: 35px;
    }
  }

  &--xl {
    & > svg {
      height: 50px;
      width: 50px;
    }
  }
}

.root {
  display: flex;
  align-items: center;
}
