@import "styles";

.root {
  position: sticky;
  z-index: $z-index-banner;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - space(16));
  margin: auto;
  padding: space(4) space(8);

  @include full-width-container();
}
