@import "styles";

.root {
  width: 90%;
  margin: auto;
  padding: space(8) 0;

  @include breakpoint("tablet") {
    width: 80%;
  }

  @include breakpoint("desktop") {
    max-width: 1220px;
    padding: space(8) 0;
  }
}

.full {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
