@import "styles";

.root {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @include container();

  @include breakpoint("tablet") {
    width: 80%;
  }
}

.full {
  width: 100%;
  @include full-width-container();
}
