@import "./colors";

$alignments: (
  "left": left,
  "center": center,
  "right": right
);

.alignment {
  @each $name, $glyph in $alignments {
    &--#{$name} {
      text-align: $glyph;
    }
  }
}

.background-color {
  @each $name, $glyph in $colors {
    &--#{$name} {
      background-color: $glyph;
    }
  }
}

.themed {
  @each $name, $glyph in $themes {
    &--#{$name} {
      background-color: themed-color($name, "primaryBgColor");
      color: themed-color($name, "primary");

      a {
        color: themed-color($name, "primary");
      }

      svg,
      path {
        fill: themed-color($name, "primary");
      }

      .border {
        border: solid 1px themed-color($name, "borderColor");
      }
    }
  }
}
