//Hero Banner
$z-index-page-background: -99;
$z-index-background: -3;
$z-index-filter: -1;
$z-index-image: -2;
$z-index-container: 0;

$z-index-relative: 1;
$z-index-nav: 2;
$z-index-arrow-top: 3;
$z-index-banner: 5;
