@import "styles";

.root {
  @each $name, $glyph in $themes {
    &--#{$name} {
      background-color: themed-color($name, "primaryBgColor");
    }

    .back-to-top {
      background-color: themed-color($name, "primary");
    }
  }
}

.container {
  padding: space(4);
  display: flex;
  flex-direction: column;
  position: relative;

  @include breakpoint("desktop") {
    padding: space(4) space(8);
    @include full-width-container();
  }
}

.back-to-top {
  position: absolute;
  top: auto;
  bottom: space(20);
  right: space(4);
  padding: space(4);
  z-index: $z-index-arrow-top;
  border-radius: 50%;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }
}
.social {
  margin: 0 space(2);
  padding: 0;
}

.bottom-container {
  margin-top: space(4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin: space(2) 0;
  display: block;
}

.content-container {
  margin-bottom: space(4);
  display: flex;
  justify-content: flex-start;
  padding: space(8) 0 space(1);
  flex-wrap: wrap;
}
