@import "styles";

.root {
  border: 0;
  padding: 0;
  cursor: pointer;
  border-radius: toRem(5px);
  margin: 0 space(2);
  transition: 0.5s;
  color: color("black");
  background: transparent;
}

.variant {
  &--primary {
    @include primary-btn();
  }

  &--secondary {
    @include secondary-btn();
  }

  &--tertiary {
    @include tertiary-btn();
  }

  &--transparent {
    @include transparent-btn();
  }

  &--transparent-white {
    @include transparent-white-btn();
  }

  &--link {
    border-radius: 0;
    text-decoration: underline;
  }
}

.size {
  &--sm {
    padding: space(2) space(1);
  }

  &--md {
    padding: space(3) space(2);
  }

  &--lg {
    padding: space(4) space(5);
  }

  &--xl {
    padding: space(5) space(6);
  }
}
