@import "styles";

.root {
  border: 0;
  padding: 0;
  cursor: pointer;
  border-radius: toRem(5px);
  margin: 0 0.5rem;
  transition: 0.5s;
  color: color("black");
}

.variant {
  &--primary {
    @include primary-btn();
  }

  &--secondary {
    @include secondary-btn();
  }

  &--tertiary {
    @include tertiary-btn();
  }

  &--transparent {
    @include transparent-btn();
  }

  &--transparent-white {
    @include transparent-white-btn();
  }

  &--link {
    border-radius: 0;
    text-decoration: underline;
  }
}

.size {
  &--sm {
    padding: 0.5rem 0.25rem;
  }

  &--md {
    padding: 0.75rem 0.5rem;
  }

  &--lg {
    padding: 1rem 1.25rem;
  }

  &--xl {
    padding: 1.25rem 1.5rem;
  }
}
