@import "styles";

@import "styles";

.root {
  max-width: 300px;
  padding: space(8) space(6);
  border-radius: 5px;
  margin: space(1) 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include breakpoint("tablet") {
    margin: space(2);
  }
}

.title {
  margin: space(4) 0;
}
