@import "styles";

.main-container {
  border: solid 1px color("black");
  position: absolute;
  max-width: 1440px;
  height: calc(100% - space(4));
  width: calc(100% - space(4));
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  @include breakpoint("desktop") {
    flex-direction: row;
  }
}

.container {
  padding: space(8) space(2);
  width: calc(100% - space(4));
  overflow-y: scroll;
  margin: 0;

  @include breakpoint("desktop") {
    padding: space(8);
    padding-top: space(12);
    width: calc(100% - space(16));
  }
}

.heading {
  width: 100%;
  font-size: space(8);
  margin-top: 1rem;
  position: relative;

  @include breakpoint("tablet") {
    font-size: space(20);
  }
  @include breakpoint("desktop") {
    font-size: space(28);
  }
}

.spacer {
  margin: space(8) 0;
}
